---

- name: Configuring NTP time synchronization daemon
  template:
    src: "{{ item }}"
    dest: /etc/ntp.conf
    owner: root
    group: root
    mode: 0644
    backup: yes
  with_first_found:
    - "host_files/{{ inventory_hostname }}/ntp.conf.j2"
    - "group_files/servers-{{ msms_server_type }}/ntp.conf.{{ ansible_lsb['codename'] }}.j2"
    - "group_files/servers-{{ msms_server_type }}/ntp.conf.j2"
    - "group_files/servers/ntp.conf.{{ ansible_lsb['codename'] }}.j2"
    - "group_files/servers/ntp.conf.j2"
    - "ntp.conf.{{ ansible_lsb['codename'] }}.j2"
    - "ntp.conf.j2"
  notify: Restart NTP service

- name: Ensuring NTP time synchronization daemon is running and enabled at system start.
  service:
    name: "{{ hm_timesynced__service_name }}"
    state: started
    enabled: yes
  when: hm_timesynced__service_enabled

- name: Ensuring NTP time synchronization daemon is stopped and disabled at system start.
  service:
    name: "{{ hm_timesynced__service_name }}"
    state: stopped
    enabled: no
  when: not hm_timesynced__service_enabled
