---

- name: Including distribution specific variables
  include_vars: "{{ ansible_distribution|lower }}.yml"
  tags:
    - always

- import_tasks: check.yml

#-------------------------------------------------------------------------------

- block:

    - import_tasks: install.debian.yml
      tags:
        - install

    - import_tasks: configure.debian.yml
      tags:
        - configure

  when: ansible_virtualization_role != "guest" and ansible_os_family == 'Debian'


